In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 한글 적용을 위한 정리
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
data = {'eng':[10,30,50,70],
       'kor':[20,40,60,80],
        'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
df.ndim # 몇 차원인지?

2

In [4]:
df.shape # 몇 행, 몇 열인지?

(4, 3)

In [5]:
df.size # 행 X 열

12

In [6]:
len(df) # 행의 개수

4

In [7]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [9]:
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)

In [13]:
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [20]:
df.T

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70