In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 한글 적용을 위한 정리
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [11]:
data = {'eng':[10,30,50,70],
       'kor':[20,40,60,80],
  
        'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [12]:
# df.iloc[인덱스, 컬럼]
df.iloc[0]

eng     10
kor     20
math    90
Name: a, dtype: int64

In [15]:
df.iloc[0,0]

10

In [17]:
df.iloc[1:]

   eng  kor  math
b   30   40    50
c   50   60    20
d   70   80    70

In [18]:
df.iloc[1:,1:]

   kor  math
b   40    50
c   60    20
d   80    70

In [19]:
df.iloc[[0,2,3]]

   eng  kor  math
a   10   20    90
c   50   60    20
d   70   80    70

In [20]:
# df.loc[부여된 인덱스, 부여된 컬럼]
df.loc['a']

eng     10
kor     20
math    90
Name: a, dtype: int64

In [21]:
df.loc['a','eng']

10