In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 한글 적용을 위한 정리
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [2]:
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor' : 1, 'eng' : 2},
     {'kor':3,'eng':4},
     {'kor':5,'eng':6}]
d4 = {'kor' : [1,3,5], 'eng':[2,4,6]}

In [8]:
df1 = pd.DataFrame(d1,index=['a','b','c'], columns=['kor','eng'])
df1

   kor  eng
a    1    2
b    3    4
c    5    6

In [4]:
df2 = pd.DataFrame(d2)
df2

   0  1
0  1  2
1  3  4
2  5  6

In [5]:
df3 = pd.DataFrame(d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [6]:
df4 = pd.DataFrame(d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6

In [10]:
data = {'eng':[10,30,50,70],
       'kor':[20,40,60,80],
        'math':[90,50,20,70]}
df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70